
form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f5f5f5; /* Color de fondo similar al de la imagen */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  flex-grow: 1;

  /* Ajustar tamaño del formulario */
  width: 100vw; /* Asegura que el formulario ocupe todo el ancho disponible */
  max-width: none; 
  height: 100%; /* Hace que el formulario ocupe toda la altura disponible */
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#language{
  margin-right:20px;
}
mat-form-field {
  width: 100%;
}
#medio {
  margin-right: 10px;
  margin-left: 10px;
}
select {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #ffffff;
}

input[matInput] {
  background-color: #ffffff; /* Color de fondo para el input */
  padding: 12px;
  border-radius: 5px;
  font-size: 16px;
  border: 1px solid #ddd;
}

small {
  color: #757575;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}

button {
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #3f51b5; /* Color de fondo para el botón */
  color: white;
  border: none;
  cursor: pointer;
}

button:disabled {
  background-color: #dcdcdc;
  color: #a8a8a8;
}

button:hover:enabled {
  background-color: #303f9f; /* Cambio de color en hover */
}

div[style*="border: 1px solid"] {
  padding: 10px;
  width: 40%;
  height: 100px;
  overflow-y: auto;
  background-color: #ffffff; /* Fondo blanco para el output */
  font-size: 16px;
  color: #333; /* Color del texto */
  border-radius: 5px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.translation-panel {
  display: flex;
  gap: 20px; /* Espacio entre el input y el output */
  align-items: flex-start;
  margin-bottom: 20px;
  margin-top: 20px;
}

.translator-container {
  width: 100%;
  height: 100%;
}
.input-container {
  width: 50%; /* Ajusta el ancho del contenedor de entrada */
}

.input-container textarea {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  width: 100%;
  height: 100px;
  resize: none;
  height: 300px;
  padding: 10px;
  box-sizing: border-box;
}

.output-container {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  border: 1px solid #ccc;
  padding: 10px;
  width: 50%; /* Ajusta el ancho del contenedor de salida */
  height: 300px;
  overflow-y: auto;
  box-sizing: border-box;
  margin-right: 40px;
}

.buttons-container {
  display: flex;
}
#botonBot{
  position: absolute;
  bottom: 20px;
  right: 20px; 
  width: 70px;
  height: 70px;
}
.container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

/* Style the SVG button */
#botonBot {
  cursor: pointer;
  margin: 10px;
}

/* Style the modal (hidden by default) */
.modal {
  display: block; /* Always visible when modalVisible is true */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
  justify-content: center;
  align-items: center;
  display: flex;
}

/* Modal content */
.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

/* Close button (X) */
.close {
  color: #aaa;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 20px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
