<header>
    <div class="title-container">
    <img src="assets/icono.png" alt="icono" width="70px" height="70px">
    <h1>Bug Busters</h1>
    </div>
    <nav>
        <button class="header_tab" routerLink="/translate_text">Traductor</button>
        <span class="divider">|</span>
        <button class="header_tab" routerLink="/translate_pdf">Traductor PDF</button>
        <span class="divider">|</span>
        <button class="header_tab" routerLink="/resumir">Resumer</button>
    </nav>

</header>
